@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.conceptHeader {
    background: linear-gradient(to right, #0e0e0e, #222222, #0e0e0e);
    width: 100%;
    height: 100vh;
    transition: 0.5 ease;
}

.textManagement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    color: #fff;
}

.conceptTitle {
    display: flex;
    text-align: center;
    font-size: 48px;
    text-transform: uppercase;
    margin-top: 5rem;
}

.titleRed {
    color: #ff3131;
}

.conceptText{
    display: flex;
    font-size: 24px;
    margin-top: 2rem;
    text-align: center;
    line-height: 2rem;
}

.btn {
    margin-top: 2rem;
}

.conceptInfo {
    display: flex;
    justify-content: center;
    background: #fff;
    height: 120vh;
}

.conceptInfoWrapper {
    margin-top: 12rem;
}

.conceptInfoTitle {
    border: 1px solid black;
    font-size: 48px;
    letter-spacing: 0.5rem;
    padding: 2rem;
    text-transform: uppercase;
}

@media screen and (max-width: 1300px) {

    .conceptHeader {
        height: 85vh;
    }

    .conceptTitle {
        margin-top: 3em;
        margin-right: 5rem;
        margin-left: 5rem;
    }

    .conceptText {
        margin-right: 5rem;
        margin-left: 5rem;
    }

    .conceptInfoTitle {
        text-align: center;
        margin-right: 5rem;
        margin-left: 5rem;
    }
}