.sixGridContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gridWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Adds a shadow effect */
}

.cube {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  position: relative;
  width: 300px;
  height: 300px;
}

.content {
  text-align: center;
  padding: 20px;
  width: 100%;
}

/* Customize the styling for the content within each cube */
.content h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.content img {
  max-width: 100%;
  max-height: 100%;
}
