.containerGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .cube {
    background-color: #000;
    height: 100px;
  }
  