@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.containerAbout {
    background: #fff;
    width: 100%;
    height: 105vh;
    transition: 0.5 ease;
}

.contentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.contentWrapper {
    width: 60%;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
}

.contentItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    img {
        display: none;
    }

    h3 {
        justify-content: flex-start !important;
        font-size: 25px;
        text-transform: uppercase;
        margin-bottom: 1.5rem;
    }

    p {
        margin-left: 100px;
        margin-right: 100px;
        line-height: 1.5rem;
        color: #b2b2b2;
    }
}

.aboutBtn {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    color: #fff;
    background-color: #0e0e0e;
    width: 140px;
    text-transform: uppercase;
    padding: 15px;
    border-radius: 5px;
}

@media screen and (max-width: 1300px) {
    .containerAbout {
        height: 75vh;
    }

    .contentItem {
        margin-top: 5rem;
        margin-bottom: 5rem;

        img {
            display: flex;
            max-height: 100px;
            margin-bottom: 2.5rem;
        }

        p {
            margin-left: 20px;
            margin-right: 20px;
        }
    }
}

@media screen and (max-width: 900px) {
    .containerAbout {
        height: 75vh;
    }

    .contentContainer {
        position: static;
    }

    .contentWrapper {
        width: 75%;
    }

    .contentItem {
        margin-top: 5rem;

        img {
            display: flex;
            max-height: 100px;
            margin-bottom: 2.5rem;
        }

        p {
            margin-left: 20px;
            margin-right: 20px;
        }
    }

    .btnAbout {
        margin-top: 4rem;
    }
}

@media screen and (max-width: 745px) {
    .containerAbout {
        height: 80vh;
    }
}
