@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.conceptHeaderContainer{
    width: 100%;
    height: 80vh;
    background: linear-gradient(to right, #0e0e0e, #222222, #0e0e0e);


    & .headerTextContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        height: 100%;


        > .headerTitle {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            color: #fff;
            letter-spacing: 2px;
            flex-direction: row;
            font-size: 48px;
            font-style: bold;
            text-transform: uppercase;
            padding-bottom: 1.5rem;

            > .headerTitleRed {
                color: #ff3131;
            }
        }

        > .headerSubTitle {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 2rem;
            margin-right: 2rem;
            padding-bottom: 2rem;
            color: #fff;
            font-size: 24px;
            letter-spacing: 2px;
            line-height: 2rem;
        }

        > .headerBtnContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
        }



    }

}



