@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

 .container {
    background: linear-gradient(to right, #0e0e0e, #222222, #0e0e0e);
    width: 100%;
    height: 110vh;
    transition: 0.5 ease;
}

.textContainer {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 28rem;
    height: 100%;
  }

  .title {
    font-size: 48px;
    font-style: bold;
    text-transform: uppercase;
    padding-bottom: 1.5rem;
}

.red {
    color: #ff3131;
}

.subTitle {
    font-size: 24px;
    padding-bottom: 2rem;
}

.btn {
    display: flex;
    justify-content: center;
    color: #0e0e0e;
    background-color: #fff;
    width: 140px;
    text-transform: uppercase;
    padding: 15px;
    border-radius: 5px;
}

@media screen and (max-width: 1150px) {
    .container {
      min-height: 100vh;
    }
    
    .textContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0;
    }
  }
  
  