@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.conceptHeader {
    background: linear-gradient(to right, #0e0e0e, #222222, #0e0e0e);
    width: 100%;
    height: 100vh;
    transition: 0.5 ease;
}

.textManagement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    color: #fff;
}

.conceptTitle {
    display: flex;
    text-align: center;
    font-size: 48px;
    text-transform: uppercase;
    margin-top: 5rem;
}

.titleRed {
    color: #ff3131;
}

.conceptText{
    display: flex;
    font-size: 24px;
    margin-top: 2rem;
    text-align: center;
    line-height: 2rem;
}

.btn {
    margin-top: 2rem;
}