@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.servicesContainer {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, #0e0e0e, #222222, #0e0e0e);

  .servicesTitle {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 5rem;

    > h2 {
      color: #fff;
      font-style: bold;
      font-size: 30px;
      letter-spacing: 3px;
      text-transform: uppercase;
    }
  }
}
